In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

Question 3: Importing Dataframes

In [2]:
path = r'/Users/bazillaimran/Documents/02-2023 Instacart Basket Analysis'

In [3]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Import df_prods
df_prods =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

Question 4: Check the shape of the imported dataframe

In [5]:
# Check shape of orders_products_combined
df_ords_prods_combined.shape

(32434489, 12)

In [6]:
# Check shape of df_prods
df_prods.shape

(49672, 6)

Question 5: Determine a suitable way to combine the 2 dataframes

In [7]:
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Drop columns in df_ords_prods_combined (not necessary) 
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', '_merge'])

In [10]:
# Drop unnamed columns in df_prods (not necessary)
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [11]:
# Merge by column product_id since it's present in both dataframes 
df_ords_prods_merged = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

Question 6: Confirm the results of the merge using the merge flag.

In [12]:
# checking df_ords_prods_merged dataframe
df_ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [13]:
#Checking the values in the _merge column using merge flag
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
#Checking the merged shape
df_ords_prods_merged.shape

(32404859, 14)

Question 7: Export the newly created dataframe as orders_products_merged

In [15]:
#Exporting the newly merged dataframe; Using pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))